:root {
  --font-base: "Montserrat", "Verdana", sans-serif;
  --color-base: #333333;
  --color-second: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #f3ebe1;
  --bg-tertiary: #eae6fc;
  --bg-quaternary: #e5e6e8;
  --bg-accent: #7859cf;
  --bg-condition: #f0ebff;
}
