/* здесь используйте глобальные переменные */
// COLORS
$basic-text-color: #333333;
$basic-white: #ffffff;
$basic-white-flat: #f3ebe1;

$basic-grey: #bdbdbd;
$basic-grey-lightest: #f8f8f8;
$basic-grey-lighter: #e2e2e2;
$basic-grey-light: #e5e6e8;

$basic-primary: #7859cf;
$basic-primary-lightest: rgba(120, 89, 207, 0.25);
$basic-primary-lighter: #9070ec;
$basic-primary-dark: #593cac;
$basic-primary-darker: #eae6fc;
$basic-secondary: #f0ebff;

// SIZeS
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// fONTS
$font-montserrat:"Montserrat", "PT Sans Narrow", sans-serif;
