/* здесь используйте глобальные переменные */
$base-color: #333333;
$white-color: #ffffff;
$grey-color: #bdbdbd;
$light-grey: #e2e2e2;
$base-color-lilac: #7859cf;
$base-secondary-lilac: #f0ebff;
$bacground-espresso: #e5e6e8;
$bacground-lavender: #eae6fc;
$bacground-flat-white: #f3ebe1;
$bacground-light-grey: #f8f8f8;
$primary-dark-color: #593cac;
$primary-light-color: #9070ec;
$primary-opasity-color: rgba(120, 89, 207, 0.25);
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$primary-font: "Montserrat", "Arial", sans-serif;
