/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/body.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/user-menu.scss";
@import "./blocks/button-burger.scss";
@import "./blocks/main.scss";
@import "./blocks/slider.scss";
@import "./blocks/sliders.scss";
@import "./blocks/card.scss";
