/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/navigation.scss";
@import "./blocks/promo.scss";
@import "./blocks/slider.scss";
@import "./blocks/features.scss";
@import "./blocks/catalog.scss";
@import "./blocks/form.scss";
@import "./blocks/price.scss";
@import "./blocks/goods.scss";
@import "./blocks/card.scss";
@import "./blocks/pagination.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/media.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
