.button-burger {
  padding: 30px;
}

@media (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

.button-burger--closed {
  background-image: url("../../icons/stack.svg#burger");
  background-size: 16px 16px;
}

.button-burger--opened {
  background-image: url("../../icons/stack.svg#open-menu");
  background-size: 16px 16px;
}
