.button {
  padding: 8px 20px;
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $base-white;
  background-color: $base-primary;
  text-decoration: none;
  border: none;
  border-radius: 4px;

  &:hover {
    background: $alt-primary-lighter;
  }

  &:focus {
    background: $alt-primary-lighter;
  }

  &:active {
    background: $alt-primary-darker;
  }
}

.button--basket {
  min-width: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-align: end;

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 20px;
    width: 20px;
    height: 16px;
    background-image: url("../../icons/basket.svg");
    color: $base-white;
  }
}

.button--filters {
  width: 100%;

  @media (min-width: $min-width-tablet) {
    width: 137px;
  }

  @media (min-width: $min-width-desktop) {
    width: 149px;
  }
}

.button--alternative {
  background-color: $base-white;
  color: $base-primary;

  &:hover {
    color: $base-white;
  }

  &:focus {
    color: $base-white;
  }

  &:active {
    color: $base-white;
  }

  @media (min-width: $min-width-tablet) {
    width: 120px;
  }

  @media (min-width: $min-width-desktop) {
    width: 149px;
  }
}
