.catalog {
  padding: 50px 0 44px;
  background: $bg-lightest-grey;
}

.catalog__badge {
  margin-bottom: 5px;
  text-align: center;
}

.catalog__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
