.features {
  // @media (min-width: $desktop-width) {
  //   width: 1140px;
  //   padding: 50px 40px;
  // }
}

.features__wrapper {
  margin: 0 auto;
  width: 320px;
  padding: 58px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    padding: 50px 40px;
  }
}

.features__title {
  min-width: 280px;
  // min-height: 72px;
  display: flex;
  margin: 4px auto 0;
  color: $base-black;
  font-family: $montserrat-medium;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.41px;

  @media (min-width: $tablet-width) {
    min-width: 560px;
    // height: 120px;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

}

.features__subtitle {
  color: $base-primary;
  font-family: $montserrat-bold;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.51px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    align-items: normal;
    // display: flex;
    // flex-direction: row;
    display: grid;
    column-gap: 10px;
    grid-template-columns:250px 260px 250px 240px;
  }

}

.features__item {
  position: relative;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 73px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.features__caption {
  font-family: $montserrat-bold;
  color: $base-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  @media (max-width: $mobile-width-only) {
    min-width: 75px;
    // padding: 0 20px;
    margin: 10px 0 1px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

// .features__grid-tablet {
//   @media (min-width: $tablet-width) {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 0 25px;
//   }

// }

.features__icon {


  @media (max-width: $mobile-width-only) {
    margin: 36px 0 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -10px;
    left: 0;
    margin: 15px 0 0;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    left: 110px;
    text-align: center;
  }

  &--speed::before {
    @include features-icon-base-styles;
    background-image: url("../../icons/features/clock.svg");
  }

  &--comfort::before {
    @include features-icon-base-styles;
    background-image: url("../../icons/features/pocket.svg");
  }

  &--energy::before {
    @include features-icon-base-styles;
    background-image: url("../../icons/features/lightning.svg");
  }

  &--eco::before {
    @include features-icon-base-styles;
    background-image: url("../../icons/features/leaf.svg");
  }
}

.features__description {
  margin: 5px auto -5px;
  color: $base-black;
  font-family: $montserrat-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
  }
}
