.footer-decor {
  position: relative;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 320px;
    height: 1px;
    color: $base-secondary;
  }
}
