.footer {
  background-color: $base-white;
}

.footer__wrapper {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
  }
}

.footer__header-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 0 50px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 0 20px;

  @media (min-width: $desktop-width) {
    flex-flow: column wrap;
    justify-content: unset;

  }
}

.footer__header-logo-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__main-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $base-primary;
  margin: 0 0 17px 0;
}

.footer__main-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 17px;
}

.footer__main-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-black;
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.footer__main-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
  }
}

.footer__main-primary-item {
  padding: 20px 0 28px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    min-width: 222px;
  }

  @media (min-width: $desktop-width) {
    min-width: 317px;
  }

  &:before {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% + 40px);
    background-color: $base-secondary;
    right: -20px;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

}

.footer__main-primary-item:last-child {
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% + 40px);
    background-color: $base-secondary;
    right: -20px;
    bottom: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__main-item {
  // padding-left: 20px;
  cursor: pointer;
}

.footer__contacts-adress,
.footer__contacts-phone {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-left: 19px;
  position: relative;
  margin: 0;
  text-decoration: none;
  color: $base-black;
  width: 261px;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 16px;
    top: 0;
    left: 0;
  }
}

.footer__contacts-adress {
  padding-top: 3px;
  margin-bottom: 16px;
  display: block;

  @media (min-width: $tablet-width) {
  width: 204px;}

  @media (min-width: $desktop-width) {
    width: 298px;}


}

.footer__contacts-adress::before {
  background-image: url("../../icons/stack.svg#location");
  top: 5px;

}


.footer__contacts-phone::before {
  background-image: url("../../icons/stack.svg#phone");
}


.footer__developer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }



  // @media (min-width: $tablet-width) {
  //   padding: 0;
  //   grid-column: 1/-1;
  // }
}

.footer__developer-link {
  display: flex;
  align-items: center;
  margin-left: 3px;
  // transition: 0.3s ease;
  color: $base-grey;
  text-decoration: none;


  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 16px;
    margin-left: 4px;
    mask-image: url("../../icons/stack.svg#html-academy");
    background-color: $base-grey;
  }

  &:hover::after,
  &:focus::after {
    background-color: $base-primary;
  }

  &:active::after {
    background-color: $primary-darker;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}
