// footer
// footer__container

.footer__social {
  padding: 20px 20px 17px;
  display: flex;
}

.footer__logo {
  margin-top: 2px;
}

.footer__title {
  display: none;

  @media (min-width: $min-width-desktop) {
    display: block;
  }
}

.footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer__social-item {
  padding: 10px;
  gap: 20px;
}
// footer__social-link
// footer__social-vk
// footer__social-Pinterest
// footer-social-odnoklassniki
.footer__shop-links {
  padding: 20px;
}

.footer__shop-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: $base-primary;
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &::after {
    position: absolute;
    content: "";
    top: -51px;
    right: -21px;
    width: 320px;
    height: 1;
    background-color: $base-secondary;
  }
}

.footer__nav-item {
  padding: 8px 0;
  margin: 0;
}

.footer__nav-link {
  text-decoration: none;
  color: $base-black;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.footer__shop-media {
  padding: 20px;
}

.footer__contacts {
  padding: 20px;
}

.footer__contacts-address {
  margin-top: 23px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  display: flex;
  gap: 16px;
  flex-direction: column;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: -51px;
  //   right: -21px;
  //   width: 320px;
  //   height: 1;
  //   background-color: $base-secondary;
  // }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: -51px;
  //   right: -21px;
  //   width: 320px;
  //   height: 1;
  //   background-color: $base-secondary;
  // }
}

.footer__about-text {
  margin: 0;
  margin-left: 19px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -19px;
    width: 13px;
    height: 16px;
    background-image: url("../../icons/address.svg");
    color: $base-white;
  }
}

.footer__contacts-address-phone {
  margin: 0;
  margin-left: 19px;
  text-decoration: none;
  color: $base-black;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -19px;
    width: 13px;
    height: 16px;
    background-image: url("../../icons/tel.svg");
    color: $base-white;
  }
}
