
.item-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.item-control__input + label {
  display: inline-block;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.item-control__input + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $grey-color;
  border-radius: 50%;
  margin-right: 10px;
  background-position: center;
  transform: translate(5px, 5px);
}

.item-control__input:checked + label::before {
  background-image: url("../../icons/checkbox.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border-color: $base-color-lilac;
}

.item-control__input:disabled + label::before {
  border-color: $light-grey;
}

.item-control__input:disabled + label:focus-visible::before {
  border-color: $light-grey;
  background-color: $light-grey;
}

.item-control__input:not(:disabled):not(:checked) + label:hover::before {
  border-color: $primary-light-color;
  background-color: $primary-opasity-color;
}

.item-control__input:not(:disabled):not(:checked) + label:focus-visible::before {
  border-color: $primary-light-color;
  background-color: $primary-opasity-color;
}

.item-control__input:not(:disabled):active + label::before {
  border-color: $base-color-lilac;
  background-color: $base-color-lilac;
}

.item-control__switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  appearance: none;
}

.item-control__switch {
  display: inline-block;
}

.item-control__name {
  @include font($primary-font, 16px, 24px, $base-color);
  font-weight: 400;
}

.item-control__name-checkbox {
  @include font($primary-font, 16px, 24px, $base-color);
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-left: 52px;
  cursor: pointer;
}

.control-item--switch {
  margin-bottom: 7px;
}

.control-item--switch:last-child {
  margin-bottom: 0;
}

.item-control__name-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 42px;
  height: 24px;
  left: 0;
  top: 0;
  background-color: $grey-color;
  border-radius: 18px;
}

.item-control__name-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white-color;
  left: 2px;
  top: 2px;
}

.item-control__switch-input:checked + .item-control__name-checkbox::before {
  background-color: $base-color-lilac;
}

.item-control__switch-input:disabled + .item-control__name-checkbox::before {
  background-color: $light-grey;
}

.item-control__switch-input:checked + .item-control__name-checkbox::after {
  background-color: $white-color;
  left: 20px;
}

.item-control__switch-input + .item-control__name-checkbox:hover::before {
  background-color: $primary-opasity-color;
  border: 2px solid $primary-light-color;
}

.item-control__switch-input + .item-control__name-checkbox:focus-visible::before {
  background-color: $primary-opasity-color;
  border: 2px solid $primary-light-color;
}

.item-control__switch-input:checked:disabled + .item-control__name-checkbox::before {
  background-color: $light-grey;
}

.item-control__switch-input:checked:disabled + .item-control__name-checkbox::after {
  background-color: $grey-color;
}

.item-control__switch-input:disabled + .item-control__name-checkbox:hover::before {
  border: none;
  background-color: $light-grey;
}
