.location {
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.location__image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1440px) {
  .location__image {
    object-fit: contain;
  }
}
