.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 19px;
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    margin: 0 0 0 4px;
  }
}
