.menu-nav {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: -50%;
  background-color: $basic-white;
  transform: translate(-50%, 24%);

  @media (min-width: $tablet-width) {
    position: static;
    display: block;
    width: max-content;
    margin-right: initial;
    margin-left: auto;
    transform: none;
  }
}

.menu-nav__toggle {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  background-color: $basic-white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu-nav--closed .menu-nav__toggle::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 21px;
  width: 17px;
  height: 2px;
  background-color: $basic-text-color;
  box-shadow: 0 5px 0 0 $basic-text-color, 0 10px 0 0 $basic-text-color;
}

.menu-nav--closed .menu-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.menu-nav--opened .menu-nav__toggle {
  top: -61px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 21px;
    width: 18px;
    height: 2px;
    background-color: $basic-text-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu-nav__menu {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 407px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 22px;
    width: 458px;
    margin-right: 35px;
  }
}

.menu-nav__item {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    border: none;
  }
}

.menu-nav__link {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 19px;
  font-family: $font-montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-text-color;

  &:hover {
    color: $basic-primary;
    border-bottom: 2px solid transparent;
  }

  &:active {
    background-color: $basic-secondary;
    color: $basic-text-color;
    border-bottom: 2px solid $basic-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px 30px;
    border: none;

    &:active {
      color: $basic-primary;
    }
  }
}

.menu-nav__item:last-child .menu-nav__link {
  border-bottom: 1px solid $basic-secondary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.menu-nav__link:nth-child(1n) {
  border-top: 1px solid $basic-secondary;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.menu-nav__link--active {
  @media (min-width: $tablet-width) {
    color: $basic-primary;
    border-bottom: 2px solid $basic-primary;
  }
}

.menu-nav-nojs .menu-nav__toggle {
  display: none;
}

.menu-nav-nojs .menu-nav__wrapper {
  position: static;
}

.menu-nav-nojs .menu-nav__item {
  display: flex;
}
