.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 20px;
    margin-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
  }
}

.pagination__link {
  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 9px 14px 9px 15px;
  font-size: 16px;
  line-height: 24px;
  color: $basic-primary;
  text-align: center;
  background-color: $basic-white;
  border-radius: 4px;

  &:hover,
  &:active {
    font-weight: 600;
    background-color: transparent;
    color: $basic-text-color;
  }
}

.pagination__text {
  display: none;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $basic-primary;

  &:hover,
  &:active {
    color: $basic-text-color;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__link-prev,
.pagination__link-next {
  background-image: url("../../images/icon-pagination.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    min-width: 104px;
    padding: 9px 10px;
    background: none;
    background-color: $basic-white;
  }
}

.pagination__link-next {
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    transform: rotate(0deg);
  }
}

.pagination__link-current {
  font-weight: 600;
  background-color: transparent;
  color: $basic-text-color;
}
