.search-filter {
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
}

.search-filter__sorting {
  border: none;
  background: none;
  color: $base-primary;
  padding: 4px 10px;
  font-size: 16px;
}

.search-filter__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.search-filter__name--cheap {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
