.search-filter {
  padding: 0 23px;
  margin: 5px 0 19px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.search-filter__sorting {
  border: none;
  background: none;
  color: $base-primary;
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-montserrat;
}

.search-filter__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.search-filter__name--cheap {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
