.site-list a {
  display: block;
  font-family: $montserrat-medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    padding: 20px 0;
    outline-offset: unset;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 12px;
    line-height: 16px;
  }
}

.site-list__item {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 0;
    display: flex;
    width: 100px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

  &:last-child {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $base-secondary;
    }
  }
}

.site-list__item-current {
  position: relative;

  @media (min-width: $tablet-width) {
    color: $base-primary;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2px;
      background-color: $base-primary;
    }
  }
}
