.sliders {
  width: 280px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

@media (min-width: 768px) {
  .sliders {
    width: 608px;
  }
}

@media (min-width: 1440px) {
  .sliders {
    width: 1320px;
    grid-row: 1 / 2;
  }
}
