.slider-button-prev {
  position: absolute;
  top: 62px;
  left: 0;
  width: 20px;
  height: 656px;
  background-color: transparent;
  border: none;

  @media (min-width: $min-width-tablet) {
    height: 640px;
    top: 81px;
  }

  @media (min-width: $min-width-desktop) {
    height: 714px;
    top: 0;
  }
}
